/* line 1, ../sass/scroll_construction.scss */
html {
  padding: 0px;
  margin: 0px;
}

/* line 5, ../sass/scroll_construction.scss */
:root {
  --text-color: #131313;
  --bg-color: #b9b3a9;
}

/* line 10, ../sass/scroll_construction.scss */
body {
  padding: 0px;
  margin: 0px;
  font-family: termina, sans-serif;
  color: var(--text-color);
  transition: 0.3s ease-out;
  overflow-x: hidden;
  max-width: 100%;
  width: 100%;
  overscroll-behavior: none;
}

/* line 22, ../sass/scroll_construction.scss */
section:not(#sectionPin) {
  min-height: 100vh;
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
  margin: auto;
  place-items: center;
}

/* line 34, ../sass/scroll_construction.scss */
img {
  height: 80vh;
  width: 100%;
  object-fit: cover;
}

/* line 40, ../sass/scroll_construction.scss */
h1 {
  font-size: 5rem;
  line-height: 1;
  font-weight: 800;
  margin-bottom: 1rem;
  position: absolute;
  top: 10vw;
  left: 10vw;
  z-index: 4;
  overflow-wrap: break-word;
  hyphens: auto;
}
@media (max-width: 768px) {
  /* line 40, ../sass/scroll_construction.scss */
  h1 {
    font-size: 16vw;
  }
}
/* line 56, ../sass/scroll_construction.scss */
h1 span {
  display: block;
}

/* line 61, ../sass/scroll_construction.scss */
h2 {
  font-size: 2vh;
}

/* line 65, ../sass/scroll_construction.scss */
.credit {
  font-family: Termina, sans-serif;
}
/* line 67, ../sass/scroll_construction.scss */
.credit a {
  color: var(--text-color);
}

/* line 72, ../sass/scroll_construction.scss */
* {
  box-sizing: border-box;
}

/* line 76, ../sass/scroll_construction.scss */
#sectionPin {
  height: 100vh;
  overflow: hidden;
  display: flex;
  left: 0;
  background: var(--text-color);
  color: var(--bg-color);
}

/* line 85, ../sass/scroll_construction.scss */
.pin-wrap {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 50px 0px;
}
/* line 92, ../sass/scroll_construction.scss */
.pin-wrap .box {
  width: 80vw;
  margin: 0 10vw;
}
/* line 96, ../sass/scroll_construction.scss */
.pin-wrap .box div:not(.social_icons) {
  margin: 0 auto;
  width: max-content;
}
/* line 101, ../sass/scroll_construction.scss */
.pin-wrap .box .text-box {
  padding: 0 20px;
  text-align: justify;
}
/* line 106, ../sass/scroll_construction.scss */
.pin-wrap .box ul {
  margin: auto;
}
/* line 109, ../sass/scroll_construction.scss */
.pin-wrap .box ul .letter {
  animation-name: loadingF;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: linear;
  display: inline;
  margin: 0;
  padding: 0;
}
/* line 119, ../sass/scroll_construction.scss */
.pin-wrap .box ul .l-1 {
  animation-delay: 0.48s;
}
/* line 122, ../sass/scroll_construction.scss */
.pin-wrap .box ul .l-2 {
  animation-delay: 0.6s;
}
/* line 125, ../sass/scroll_construction.scss */
.pin-wrap .box ul .l-3 {
  animation-delay: 0.72s;
}
/* line 128, ../sass/scroll_construction.scss */
.pin-wrap .box ul .l-4 {
  animation-delay: 0.84s;
}
/* line 131, ../sass/scroll_construction.scss */
.pin-wrap .box ul .l-5 {
  animation-delay: 0.96s;
}
/* line 134, ../sass/scroll_construction.scss */
.pin-wrap .box ul .l-6 {
  animation-delay: 1.08s;
}
/* line 137, ../sass/scroll_construction.scss */
.pin-wrap .box ul .l-7 {
  animation-delay: 1.2s;
}
/* line 140, ../sass/scroll_construction.scss */
.pin-wrap .box ul .l-8 {
  animation-delay: 1.32s;
}
/* line 143, ../sass/scroll_construction.scss */
.pin-wrap .box ul .l-9 {
  animation-delay: 1.44s;
}
/* line 146, ../sass/scroll_construction.scss */
.pin-wrap .box ul .l-10 {
  animation-delay: 1.56s;
}
/* line 149, ../sass/scroll_construction.scss */
.pin-wrap .box ul .l-10 {
  animation-delay: 1.68s;
}
/* line 152, ../sass/scroll_construction.scss */
.pin-wrap .box ul .l-11 {
  animation-delay: 1.80s;
}
@keyframes loadingF {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (max-width: 500px) {
  /* line 171, ../sass/scroll_construction.scss */
  .pin-wrap .box:not(.first) {
    margin-left: 20vw;
  }

  /* line 175, ../sass/scroll_construction.scss */
  .pin-wrap .box {
    width: 100vw;
    margin: 0;
  }
  /* line 179, ../sass/scroll_construction.scss */
  .pin-wrap .box .text-box {
    font-size: 1rem;
    padding: 10vw;
  }
  /* line 183, ../sass/scroll_construction.scss */
  .pin-wrap .box img {
    width: 100%;
  }

  /* line 187, ../sass/scroll_construction.scss */
  #my_form {
    padding-left: 25px;
    padding-right: 25px;
  }

  /* line 192, ../sass/scroll_construction.scss */
  .map table, a {
    font-size: 10px;
  }
}
/* line 207, ../sass/scroll_construction.scss */
.cont {
  width: 100%;
  height: 101%;
  position: relative;
  overflow: hidden;
  border-top: 15px solid black;
  border-bottom: 15px solid black;
  filter: url("#goo");
}
/* line 216, ../sass/scroll_construction.scss */
.cont .drip {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: black;
  position: absolute;
  top: -100%;
  animation: falling 5s linear infinite;
}
@keyframes falling {
  0% {
    top: -20%;
  }
  88% {
    top: 0%;
  }
  93% {
    top: 30%;
  }
  100% {
    top: 100%;
  }
}
/* line 242, ../sass/scroll_construction.scss */
.cont .drip:nth-child(1) {
  border-color: black;
  height: 31px;
  width: 31px;
  animation-delay: -0.2s;
  background: black;
  left: 52vw;
  margin-left: 60px;
}
/* line 242, ../sass/scroll_construction.scss */
.cont .drip:nth-child(2) {
  border-color: black;
  height: 25px;
  width: 25px;
  animation-delay: -0.4s;
  background: black;
  left: 7vw;
  margin-left: 60px;
}
/* line 242, ../sass/scroll_construction.scss */
.cont .drip:nth-child(3) {
  border-color: black;
  height: 31px;
  width: 31px;
  animation-delay: -0.6s;
  background: black;
  left: 26vw;
  margin-left: 60px;
}
/* line 242, ../sass/scroll_construction.scss */
.cont .drip:nth-child(4) {
  border-color: black;
  height: 21px;
  width: 21px;
  animation-delay: -0.8s;
  background: black;
  left: 24vw;
  margin-left: 60px;
}
/* line 242, ../sass/scroll_construction.scss */
.cont .drip:nth-child(5) {
  border-color: black;
  height: 32px;
  width: 32px;
  animation-delay: -1s;
  background: black;
  left: 100vw;
  margin-left: 60px;
}
/* line 242, ../sass/scroll_construction.scss */
.cont .drip:nth-child(6) {
  border-color: black;
  height: 35px;
  width: 35px;
  animation-delay: -1.2s;
  background: black;
  left: 31vw;
  margin-left: 60px;
}
/* line 242, ../sass/scroll_construction.scss */
.cont .drip:nth-child(7) {
  border-color: black;
  height: 27px;
  width: 27px;
  animation-delay: -1.4s;
  background: black;
  left: 21vw;
  margin-left: 60px;
}
/* line 242, ../sass/scroll_construction.scss */
.cont .drip:nth-child(8) {
  border-color: black;
  height: 32px;
  width: 32px;
  animation-delay: -1.6s;
  background: black;
  left: 56vw;
  margin-left: 60px;
}
/* line 242, ../sass/scroll_construction.scss */
.cont .drip:nth-child(9) {
  border-color: black;
  height: 26px;
  width: 26px;
  animation-delay: -1.8s;
  background: black;
  left: 68vw;
  margin-left: 60px;
}
/* line 242, ../sass/scroll_construction.scss */
.cont .drip:nth-child(10) {
  border-color: black;
  height: 37px;
  width: 37px;
  animation-delay: -2s;
  background: black;
  left: 39vw;
  margin-left: 60px;
}
/* line 242, ../sass/scroll_construction.scss */
.cont .drip:nth-child(11) {
  border-color: black;
  height: 39px;
  width: 39px;
  animation-delay: -2.2s;
  background: black;
  left: 74vw;
  margin-left: 60px;
}
/* line 242, ../sass/scroll_construction.scss */
.cont .drip:nth-child(12) {
  border-color: black;
  height: 34px;
  width: 34px;
  animation-delay: -2.4s;
  background: black;
  left: 16vw;
  margin-left: 60px;
}
/* line 242, ../sass/scroll_construction.scss */
.cont .drip:nth-child(13) {
  border-color: black;
  height: 35px;
  width: 35px;
  animation-delay: -2.6s;
  background: black;
  left: 97vw;
  margin-left: 60px;
}
/* line 242, ../sass/scroll_construction.scss */
.cont .drip:nth-child(14) {
  border-color: black;
  height: 36px;
  width: 36px;
  animation-delay: -2.8s;
  background: black;
  left: 29vw;
  margin-left: 60px;
}
/* line 242, ../sass/scroll_construction.scss */
.cont .drip:nth-child(15) {
  border-color: black;
  height: 22px;
  width: 22px;
  animation-delay: -3s;
  background: black;
  left: 63vw;
  margin-left: 60px;
}
/* line 242, ../sass/scroll_construction.scss */
.cont .drip:nth-child(16) {
  border-color: black;
  height: 33px;
  width: 33px;
  animation-delay: -3.2s;
  background: black;
  left: 91vw;
  margin-left: 60px;
}
/* line 242, ../sass/scroll_construction.scss */
.cont .drip:nth-child(17) {
  border-color: black;
  height: 23px;
  width: 23px;
  animation-delay: -3.4s;
  background: black;
  left: 5vw;
  margin-left: 60px;
}
/* line 242, ../sass/scroll_construction.scss */
.cont .drip:nth-child(18) {
  border-color: black;
  height: 29px;
  width: 29px;
  animation-delay: -3.6s;
  background: black;
  left: 99vw;
  margin-left: 60px;
}
/* line 242, ../sass/scroll_construction.scss */
.cont .drip:nth-child(19) {
  border-color: black;
  height: 22px;
  width: 22px;
  animation-delay: -3.8s;
  background: black;
  left: 17vw;
  margin-left: 60px;
}
/* line 242, ../sass/scroll_construction.scss */
.cont .drip:nth-child(20) {
  border-color: black;
  height: 34px;
  width: 34px;
  animation-delay: -4s;
  background: black;
  left: 25vw;
  margin-left: 60px;
}

/* line 255, ../sass/scroll_construction.scss */
:root {
  --off: #240e1b;
  --on: #eb61b6;
  --text_1: #1b1b1b;
  --text_2: #8f8f8f;
  --off_1: 3px;
  --off_2: 15px;
  --on_1: 5px;
  --on_2: 30px;
  --press_1: 3px;
  --press_2: 10px;
  --clr-neon: #eb618f;
  --clr-white: white;
}

/* line 270, ../sass/scroll_construction.scss */
form {
  padding: 40px 70px;
  width: 100%;
  max-width: 600px;
  border-radius: 1rem;
  transition: box-shadow 1s ease 0.1s;
  box-shadow: 0px 0px var(--off_1) var(--off), 0px 0px var(--off_2) var(--off);
}
/* line 279, ../sass/scroll_construction.scss */
form h2 {
  text-align: center;
  transition: color 3s ease;
  color: var(--text_1);
  margin: -10px 0 34px 0;
}

/* line 286, ../sass/scroll_construction.scss */
form:hover {
  transition: box-shadow 1s ease 0.1s;
  box-shadow: 0 0 var(--on_1) var(--on), 0 0 var(--on_2) var(--on);
}
/* line 291, ../sass/scroll_construction.scss */
form:hover h2 {
  transition: color 1s ease;
  color: var(--text_2);
}

/* line 296, ../sass/scroll_construction.scss */
input {
  background-color: black;
  color: var(--clr-neon);
  width: 100%;
  display: block;
  padding: 20px;
  margin: 0 0 20px 0;
  border-style: none;
  border-radius: 1rem;
  transition: box-shadow 1s ease 0.1s;
  box-shadow: inset 0px 0px var(--off_1) var(--off), inset 0px 0px var(--off_2) var(--off);
}

/* line 312, ../sass/scroll_construction.scss */
input:hover {
  transition: box-shadow 1s ease 0.1s;
  box-shadow: inset 0px 0px var(--on_1) var(--on), inset 0px 0px var(--on_2) var(--on);
}

/* line 317, ../sass/scroll_construction.scss */
input:focus {
  outline: none;
  transition: box-shadow 1s ease 0.1s;
  box-shadow: inset 0px 0px var(--on_1) var(--on), inset 0px 0px var(--on_2) var(--on);
}

/* line 323, ../sass/scroll_construction.scss */
input:active {
  transition: box-shadow 1s ease 0.1s;
}

/* line 326, ../sass/scroll_construction.scss */
input::placeholder {
  font-weight: 300;
  transition: color 3s ease;
  color: var(--text_1);
}

/* line 331, ../sass/scroll_construction.scss */
input:hover::placeholder {
  transition: color 1s ease;
  color: var(--text_2);
}

/* line 336, ../sass/scroll_construction.scss */
.button {
  font-size: 2em;
  display: block;
  width: max-content;
  margin: 50px auto -85px auto;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  color: #9c405f;
  border: #9c405f 4px solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;
  background-color: rgba(0, 0, 0, 0.2);
  text-shadow: 0 0 0.125em rgba(255, 255, 255, 0.55), 0 0 0.5em currentColor;
  box-shadow: inset 0 0 0.1em 0 var(--clr-neon), 0 0 0.3em 0 var(--clr-neon);
  position: relative;
}

/* line 360, ../sass/scroll_construction.scss */
.button::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: var(--clr-neon);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(1.2em) rotateX(40deg) scale(1.5, 0.5);
  filter: blur(1.15em);
  opacity: 0.7;
  transition: transform 0.5s linear;
}

/* line 377, ../sass/scroll_construction.scss */
.button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 4em 0.6em var(--clr-neon), 0 0 1em 0.2em var(--clr-white);
  opacity: 0;
  background: var(--clr-neon);
  z-index: -1;
  transition: opacity 0.5s linear;
}

/* line 391, ../sass/scroll_construction.scss */
.button:hover,
.button:focus {
  color: #f8719e;
  border-color: #f8719e;
  text-shadow: none;
}

/* line 399, ../sass/scroll_construction.scss */
.button:hover::before,
.button:focus::before {
  opacity: 1;
  transform: perspective(1em) rotateX(40deg) scale(1.5, 0.6);
  transition: transform 0.5s linear;
}

/* line 406, ../sass/scroll_construction.scss */
.button:hover::after,
.button:focus::after {
  opacity: 1;
}

/* line 418, ../sass/scroll_construction.scss */
.social_icons {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
}

/* line 426, ../sass/scroll_construction.scss */
#vk,
#instagram,
#github,
#facebook {
  font-size: 4em;
  background-color: #18191f;
  color: #fff;
  box-shadow: 2px 2px 2px #00000080, 10px 1px 12px #00000080, 2px 2px 10px #00000080, 2px 2px 3px #00000080, inset 2px 2px 10px #00000080, inset 2px 2px 10px #00000080, inset 2px 2px 10px #00000080, inset 2px 2px 10px #00000080;
  border-radius: 15px;
  padding: 5px 10px;
  margin: 30px 30px;
  animation: animate 3s linear infinite;
  text-shadow: 0 0 50px #0072ff, 0 0 100px #0072ff, 0 0 150px #0072ff, 0 0 200px #0072ff;
}

/* line 444, ../sass/scroll_construction.scss */
#twitter {
  animation-delay: 0.3s;
}

/* line 447, ../sass/scroll_construction.scss */
#facebook {
  animation-delay: 0.7s;
}

/* line 450, ../sass/scroll_construction.scss */
#github {
  animation-delay: 0.1s;
}

@keyframes animate {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}
/* line 463, ../sass/scroll_construction.scss */
.map {
  position: absolute;
  width: 90%;
}
/* line 467, ../sass/scroll_construction.scss */
.map h2 {
  text-align: center;
}
/* line 471, ../sass/scroll_construction.scss */
.map table a {
  text-decoration: none;
  color: gray;
  margin-left: 20px;
}

/* line 478, ../sass/scroll_construction.scss */
iframe {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  max-width: 600;
  max-height: 450;
  width: 100%;
  height: 50vh;
}
